:root {
  --header-height: 3.5rem;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --amarelo: #ffd940;
  --amarelo-claro: #ffe990;
  --branco: #f7f7f0;
  --cinza: #41485d;
  --preto: #2d2a32;
  --fonte: 'poppins', sans-serif;
}

.card {
  width: 300px;
  height: 350px;
  border: 1px solid var(--preto);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--branco);
  
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  text-align: center;
  margin-top: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.card-description {
  font-size: 1rem;
  color: #555;
  font-weight: 300;
}
.line-yellow{
  background-color: var(--amarelo);
  width: 100%;
  height: 8px;
  margin-bottom: 1rem;
}
.line-black{
  background-color: var(--amarelo);
  width: 100%;
  height: 8px;
  margin-bottom: 1rem;
}

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card{
    width: 400px;
    height: 450px;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-description{
    font-size: 1.5rem;
  }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
  .card{
    width: 500px;
    height: 550px;
  }

  .card-title {
    font-size: 3rem;
  }

  .card-description{
    font-size: 2rem;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .card{
    width: 400px;
    height: 450px;
  }

  .card-title {
    font-size: 2.3rem;
  }

  .card-description{
    font-size: 1.7rem;
  }

}

@media only screen and (min-width: 280px) and (max-width: 599px) {
  .card{
    width: 90%;
    height: 400px;
  }

  .card-title {
    font-size: 1.7rem;
  }

  .card-description{
    font-size: 1.2rem;
  }
}