@font-face {
  font-family: "Montserrat";
  src: url("../utils/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
:root {
  --header-height: 3.5rem;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --amarelo: #ffd940;
  --amarelo-claro: #ffe990;
  --branco: #f7f7f0;
  --cinza: #41485d;
  --preto: #2d2a32;
  --fonte: 'poppins', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #2d2a32;
  background-color: #f7f7f0;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-button {
  display: none;
}
