:root {
    --header-height: 3.5rem;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
    --amarelo: #ffd940;
    --amarelo-claro: #ffe990;
    --branco: #f7f7f0;
    --cinza: #41485d;
    --preto: #2d2a32;
    --fonte: 'poppins', sans-serif;
}

.header {
    background-color: var(--branco);
    color: var(--preto);
    padding: 20px 0;
    font: var(--fonte);
    justify-content: end;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    
    
}

.navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;


}
.logo {
	float: left;
}

.logo img {
    grid-column: 1;
	max-width: 5rem;

}

.list_header {
    grid-column: span 6;
    grid-column-start: 12;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

.list_header li {
    margin-left: 20px;
    text-align: center;
    white-space: nowrap;
    
}

.list_header li:first-child {
    margin-left: 0;
}

.list_header li a {
    padding: 30px 23px 0 23px;
    line-height: 20px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: var(--preto);
    text-transform: uppercase;
    text-decoration: none;
}
.list_header li a:hover{
    color: var(--amarelo) !important;
    transition-duration: 0.5s;
}
.menu-icon {
    display: none; /* Inicialmente oculto */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-icon span {
    background: #333;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
}

/* Show Menu Styles */
.show {
    display: block !important;
}

@media (max-width: 991px) {
    .navbar {
        grid-template-columns: repeat(8, 1fr);
    }

    .list_header {
        grid-column: 5 / span 4;
        grid-column-start: 3;
    }

    .list_header li a {
        padding: 15px 10px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .navbar {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logo {
        grid-column: 1 / span 1;
        justify-self: center;
    }

    .list_header {
        grid-column: 1 / span 1;
        flex-direction: column;
        align-items: center;
    }

    .list_header li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .list_header li a {
        padding: 10px 5px;
        font-size: 14px;
    }
    .list_header {
        display: none; /* Oculta a lista de opções em telas menores */
    }

    .menu-icon {
        display: block; /* Mostra o menu hamburguer em telas menores */
    }

    .menu-icon:hover span {
        background: #555; /* Altera a cor de fundo do ícone no hover */
    }

     .show {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    }

    .show li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 0;
    }

    .list_header li a {
        padding: 8px 5px;
        font-size: 12px;
    }

    .logo img {
        max-width: 4rem;
    }
}