:root {
    --header-height: 3.5rem;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
    --amarelo: #ffd940;
    --amarelo-claro: #ffe990;
    --branco: #f7f7f0;
    --cinza: #41485d;
    --preto: #2d2a32;
    --fonte: 'poppins', sans-serif;
}

.header {
    background-color: var(--branco);
    color: var(--preto);
    padding: 20px 0;
    font: var(--fonte);
    justify-content: end;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;


}
.logo {
	float: left;
}

.logo img {
    grid-column: 3;
	max-width: 5rem;

}

.list_header {
    grid-column: span 6;
    grid-column-start: 12;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

.list_header li {
    margin-left: 20px;
    text-align: center;
    white-space: nowrap;
    
}

.list_header li:first-child {
    margin-left: 0;
}

.list_header li a {
    padding: 30px 23px 0 23px;
    line-height: 20px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: var(--preto);
    text-transform: uppercase;
    text-decoration: none;
}