:root {
    --header-height: 3.5rem;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
    --amarelo: #ffd940;
    --amarelo-claro: #ffe990;
    --branco: #f7f7f0;
    --cinza: #41485d;
    --preto: #2d2a32;
    --fonte: 'Montserrat', sans-serif;
}

.banner-main {
    background-color: var(--branco);
    width: 100%;

}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;

}

.banner-main .container {
    padding-bottom: 2.5rem;
}

.banner-main-text {
    grid-column: 1 / span 4;
    margin-top: 3rem;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.text-uppercase {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
}

.banner-main-text p {
    margin: 0;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 16px;
}

.img-van {
    display: flex;
    grid-column: span 8;
    justify-content: center;
    align-items: center;

}


.img-Banner {
    width: 100%;
    max-width: 638px;
    height: auto;
    max-height: 369px;
    object-fit: contain;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.button-container a {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-yellow {
    background-color: var(--amarelo);
    color: var(--preto) !important;
}

.btn-black {
    background-color: var(--preto);
    border: 1px solid white;
}

.vantagens-motorista {
    background-color: var(--preto);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.vantagens-motorista .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.vantagens-motorista .title {
    margin: 2rem;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 5 / span 5;
    color: var(--branco);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.btn {
    padding: 7px 41px !important;
    margin-top: 30px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-white {
    background: var(--branco);
    border: var(--amarelo) solid 2px;
    color: var(--preto) !important;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 2rem 8px;
}

.vantagens-responsavel {
    background-color: var(--amarelo);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.vantagens-responsavel .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.vantagens-responsavel .title {
    margin: 2rem;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 5 / span 5;
    color: var(--preto);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.btn-card-black {
    background: var(--preto);
    border: var(--preto) solid 2px;
    color: var(--branco) !important;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 2rem 8px;
}

.img-sobre-nos {
    display: flex;
    grid-column: 1 / span 6;
    justify-content: center;
    align-items: center;

}

.img-banner-sobre-nos {
    margin-top: 6rem;
    width: 100%;
    max-width: 638px;
    height: auto;
    max-height: 369px;
    object-fit: contain;
}

.banner-main .banner-sobre-nos {
    grid-column: 7 / span 5;
    margin-top: 9rem;
    margin-left: 3rem;
    position: relative;
    width: 100%;
    min-height: 1px;
    text-align: center;
}

.banner-main .banner-sobre-nos .text-uppercase {
    margin-bottom: 2rem;
}

.banner-main .banner-sobre-nos .pt-2 {
    font-weight: 300;
}