.opcao {
  width: auto;
  height: 8vh;
  padding: 1vh 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid hsl(263, 9%, 18%, 0.5);
  align-items: center;
}

.foto {
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
}

.campos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vh;
}

.campo-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nome {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}
.status {
  margin: 0;
  font-size: 14px;
}

.campo-complementares {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.horario {
  margin: 0;
  font-size: 14px;
}
.notificacao {
  margin: 0;
  font-size: 14px;
  background-color: #f2c718;
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
